$nav-bar-height: 100px;
$thirty: 30px;
$hundred: 120px;
$color: #81848f;

.projects-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px $thirty 10px $thirty;
    flex-wrap: wrap;


    @media (max-width: 750px) {
        flex-direction: column;
        margin: 5px 10px 5px 10px;
    }
}

.project-image {
    height: 400px;

    &:hover {
        opacity: .6;
        transform: translateY(1px);
        transform: translateX(1px);

    }
}

.project-container {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    align-items: center;

}

.project-image {
    height: 275px;
    width: auto;

    @media (max-width: 750px) {
        height: 150px;

    }
}

.project-title {
    font-family: Hind, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: $color;
    font-weight: 700;

    &:hover {
        opacity: .6;
        color: #17BED2;
    }

    @media (max-width: 750px) {
        font-size: 16px;

    }
}

.project-description {
    font-family: Hind, sans-serif;
    font-size: 16px;
    color: $color;
    margin: -10px 0px 20px 0px;

    @media (max-width: 750px) {
        font-size: 14px;
    }

    &:hover{
        color: #17BED2;
    }
}

.about-me {
    font-family: Hind, sans-serif;
    font-size: 16px;
    color: $color;
    margin: -10px 0px 20px 0px;

    @media (max-width: 750px) {
        font-size: 14px;
    }

    &:hover{
        color: #17BED2;
    }
}

.about-section-title {
    font-family: Hind, sans-serif;
    font-size: 28px;
    color: $color;
    font-weight: 700;
    margin: 0px 0px 20px 0px;

    @media (max-width: 750px) {
        font-size: 24px;
        margin: 20px 0px 20px 0px;

    }

    &:hover{
        color: #17BED2;
    }
}

.section-title {
    font-family: Hind, sans-serif;
    font-size: 28px;
    color: $color;
    margin: 10px $thirty 10px $thirty;
    font-weight: 700;

    @media (max-width: 750px) {
        font-size: 24px;
        margin: 10px 10px 10px 10px;
    }

    &:hover{
        color: #17BED2;
    }
}

.nav-bar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: $nav-bar-height;
    width: 100%;
    background: white;
    z-index: 1;
    @media (max-width: 750px) {
        justify-content: center;
        height: 50px;
    }
}

.empty-space {
    height: $nav-bar-height;
    @media (max-width: 750px) {
        height: 50px;
    }
}


.nav-element {
    position: relative;
    text-transform: capitalize;
    margin: 0 10px 0px 10px;
    color: $color;
    font-weight: 700;
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px 15px;
    flex-direction: row;

    &:hover {
        background: #17BED2;
        color: white;
    }

    &:active {
        background: none;
        color: white;
    }
}

.contact-heading {
    font-family: Hind, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: $color;
    font-weight: 700;
    width: fit-content;

    @media (max-width: 750px) {
        font-size: 16px;
    }

    &:hover{
        color: #17BED2;
    }
}

.contact-description {
    font-family: Hind, sans-serif;
    font-size: 16px;
    color: $color;
    margin-top: 10px;

    @media (max-width: 750px) {
        font-size: 14px;
    }
    &:hover{
        color: #17BED2;
    }
}

.contact-section-container {

    background-color: #FAFAFA;
    width: 100vw;
    padding: 40px 0px 40px 0px;
    display: flex;
    flex-direction: row;

    @media (max-width: 750px) {
        padding: 40px 0px 40px 0px;
    }
}

.contact-section {
    margin: $hundred $thirty $hundred $thirty;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

    @media (max-width: 750px) {
        margin: 0px 10px 0px 10px;
    }
}

.contact-column {
}

.name {
    color: $color;
    font-size: 44px;
    font-weight: 700;
    align-self: center;

    &:hover{
        color: #17BED2;
    }
    @media (max-width: 750px) {
        font-size: 30px;
    }
}

.job {
    align-self: center;
    color: $color;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;

    &:hover{
        color: #17BED2;
    }

    @media (max-width: 750px) {
        font-size: 18px;
    }
}

.professional-photo {
    width: 75px;
    height: 75px;
    border-radius: 75px;
    background-image: url('assets/professional_photo.jpg');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
    margin-left: calc(100vw/10);
    margin-right: calc(100vw/10);

}

.professional-photo:hover {
    background-image: url('assets/professional_photo_color.jpg');
}

.about-section {
    background-color: #FAFAFA;
    width: 100vw;
    margin: 0 0 $thirty  0;
    display: flex;
    flex-direction: column;
    padding: 40px 0 40px 0;

    @media (max-width: 750px) {
        flex-direction: column;
    }
}

.about-section-inner-container {
    display: flex;
    flex-direction: row;
    margin: 20px $thirty 0px $thirty;

    @media (max-width: 750px) {
        margin: 0px 10px 0px 10px;
        flex-direction: column;
    }

}

.about-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    // margin: 30px 0px 30px 0px;

    @media (max-width: 750px) {
        justify-content: space-evenly;
    }
}

.about-links {
    margin-left: calc(100vw/10);
    margin-right: calc(100vw/10);
    @media (max-width: 750px) {

    }
}

.about-half {
    width: 100%
}

.links-section-column {
    width: 50%;
}

.social-icons {
    opacity: 1;

    &:hover {
        opacity: 0;
    }
}

.social-icons-hover {
    opacity: 0;

    &:hover {
        opacity: 1;
    }
}

.github {
    width: 50px;
    height: 50px;
    background-image: url('assets/github-filled.png');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
}

.github:hover {
    background-image: url('assets/github.png');
}


.linked-in {
    width: 50px;
    height: 50px;
    background-image: url('assets/linkedin-filled.png');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
}

.linked-in:hover {
    background-image: url('assets/linkedin.png');
}

.portfolio {
    margin-top: 80px;
}

.resume-button {
    width: 300px;
    height: 40px;
    color: $color;
    border: 1px solid $color;
    font-size: 24px;
    font-family: Hind, sans-serif;
    font-weight: 700;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: $thirty;

    &:active {
        background: #17BED2;
        color: white;
    }

    &:hover {
        background: #17BED2;
        color: white;
    }

    @media (max-width: 750px) {
        margin-left: 10px;
        font-size: 18px;
        width: 210px;
        height: 40px;
    }

}

.links-icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    // margin: 30px 0px 30px 0px;

    @media (max-width: 750px) {
        justify-content: space-evenly;
    }

}

@keyframes wiggle {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(2px);
    }

    75% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0);
    }
}


.moving-text {
    margin: 0;
    padding: 0;

    &:hover {
        animation: wiggle 2s infinite;
    }
}

.text-container {
    display: flex;
    text-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    word-wrap: break-word;
    word-spacing: -2px;

}

.app-container{
    width: 100vw;
    height: 100vh;
}